@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  color:black;
}
body p{
  font-size:20px;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
nav{
  /* menu color */
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  font-family: 'Dancing Script', cursive;
  /* font-family: 'PT Serif', serif; */
  color: #000000;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  /* nav text color */
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #DEF2F1;
  /* color if hover */

}
.nav-links .mobile-item{
  display: none;
}

.wrapper .btn{
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  .wrapper .logo{
    margin-left:-5px;
  }

  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #ffffff;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  .wrapper .logo{
    margin-left: -2 0px;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
  



.wall{
  
  margin-top:50px;
}

.wall h1{
  
  background-color: rgb(255, 255, 255);
  padding:5px;
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  color: black;
  position: absolute;
  margin-top: 500px;
  margin-left:50px;
  

}

.wall p{
  background-color: #DEF2F1;
  padding:5px;
  font-size: 24px;
  color: black;
  position: absolute;
  margin-top: 545px;
  margin-left: 80px;
  
  
}



.content1{
  margin:30px;
  border-bottom:1px solid #77f7f0;
}

.content1 img{
  display:block;
  float:left;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: -20px;

  transition: all 1s ease; 
}

.content1 .text{
  height:400px;
  margin:70px 70px 50px 120px;
  padding:30px;
  background-color: #DCDCDC;
  transition: all 2s ease;
}

.content1 .text h1{
  padding-bottom:20px;
}


.content{
  margin:30px;
  border-bottom:1px solid #77f7f0;
}

.content img{
  position: absolute;
  right:50px;
  float:left;
  margin-top:-20px;
}

.content .text{
  height:400px;
  margin:50px 100px 50px 100px;
  padding:30px 350px 30px 30px;
  background-color: #DCDCDC;
  transition: all 2s ease;
}
.content .text h1{
  margin-bottom:30px;
}




#mid1{
  margin-top: 10px;
  margin-left: 70px;
  height:570px;
  width:fit-content;
  text-align: center;
  z-index: 2;
  border-bottom:1px solid #77f7f0;

}
#mid1 #container{
  
  float:left;
  margin:15px;
}

#container {
width: 22%;
max-width: 320px;
height: auto;
margin: 5em auto;
overflow: hidden;
border: 10px solid #EEE5E5;
position:relative ;
transition: all 2s ease;
}

#container img {
width: 100%;
height: 100%;
margin-bottom: -5px;
transition: all 0.3s ease-out;
position: relative;
z-index: 2;
}

#container:hover img {
transform: scale(1.2, 1.2);
z-index: 9;
}

.box-text {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 3;
padding: 10px;
  background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%);
opacity: 1;
transition: 0.3s linear;
color: #FFF;
font-family: 'Roboto', sans-serif;
text-shadow: 2px 2px 2px #333;

}
.box-text h1 {
font-size: 25px;
font-family: 'Roboto', sans-serif;
}

.box-text:hover{opacity: 0;}


.lido{
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  height:300px;
}
.lido h1{
  margin-bottom:30px;
}
.lido ul li{
  background-color: #DEF2F1;
  list-style: none;
  width:20%;
  height:200px;
  float:left;
  margin:0px 30px 20px 30px;
  border-radius: 20px;
  transition: all 2s ease;
}
.lido ul li img{
  margin-top:30px;
}

.lido ul li p{
  padding:20px;
}
 
.end{
  display:flex;
  margin-top:50px;
  float:left;
  
  padding:10px 140px 20px 140px;
  transition: all 2s ease;
  
}
.end p{
  font-weight: bold;
  padding:30px;
  line-height: 1.5;
}










#my-foot{
  width:100%;
  margin-top: 50px;
  display: flex;
  background-color: #2B7A78;
  float:left;
  font-family:'Roboto', sans-serif ;
  color:white;

}



#my-foot .col3{
  width:25%;
  margin:30px;
  float:left;
} 

#my-foot .col3 a{
  text-decoration: none;
  color:white;
}
#my-foot .col3 p{
padding:5px;
color:white;

}
#my-foot .col3 .mxh{
  margin: 10px 10px;
}





@media (max-width:740px){
  body{

  }
  body h1{
    
  }
  body p{

  }
  body a{

  }
}


@media (max-width: 1290px) and (min-width:740px)  {
  body{

  }
  body h1{
    font-size: 32px;
  }
  body p{
    font-size: 18px;
  }
  body a{
    font-size: 18px;
  }

  .wall h1{
    font-size: 32px;
    margin-left:20px;
    margin-top: 230px;
  }
  .wall p{
    margin-left: 50px;
    margin-top:280px;
  }


  .content1 img{
    margin-left:0;
    margin-right: 20px;
  }  
  .content1 .text{
    margin:20px;
    height:fit-content;
  }


  .content .text{
    margin:30px;
    padding: 30px 220px 30px 30px;
    height:fit-content;
  }
}